<h1>Portfolios</h1>

<h3>Portfolio of {{user}}</h3>

<<<<<<< HEAD
{{#each portfolio}}
    <a class='{{name}}' href='/holdings/{{name}}'>{{name}}</a>
{{/each}}
=======
{{#each holdings.key}}
    <h4>{{name}}</h4>
    <h4>{{symbol}}</h4>
{{/each}}

        
>>>>>>> b920f4fae219c2a9cdfc204cc8b453baf0ea0f4a
